.pagination .css-1l5xwdx-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected{
    background-color: #fff;
    color: #000;
}
.pagination .css-1l5xwdx-MuiButtonBase-root-MuiPaginationItem-root{
    background-color: #fff;
    color: #000;

}