@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
    font-size: 16px;
    
}


p > a.btn{
    text-decoration: none;
    color: #fff ;
    padding: 6px 12px;
    background-color: #ab6832 ;
    border-radius: 10px;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: calc(1rem);
}
.sweetalert .sweet-alert h2{
    font-family: "Poppins", serif;
    font-weight: 600 !important;
    font-size: calc(1.8rem) !important;
    
}
.sweet-alert h5{
    font-family: "Poppins", serif;
    font-weight: 600 !important;
    font-size: calc(1.4rem) !important;
    
}
@media (max-width : 320px){
    .sweetalert .sweet-alert h2{
        font-size: calc(1.2rem) !important;
    }
    .sweetalert .sweet-alert h5{
        font-size: calc(1rem) !important;
    }

}